!!! 5
%html
  %head
    %title Get in line...
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %meta{name: 'viewport', content: "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;"}
  %body
    = yield

    #footer
      %a{href: "https://github.com/ryansouza/line_as_a_service"}
        %img.blacktocat{src: "/blacktocat-32.png", alt: "Fork me on Github"}
